/* 구조
css/default/ reset-css
css/common/ common-css, bootstrap
css/html/ 01-html 폴더 내부 파일의 css stylesheet
css/css/ 01-css 폴더 내부 파일의 css stylesheet
css/javascript/ 01-javascript 폴더 내부 파일의 css stylesheet */


/* 폰트
-기본글꼴: 스포 한 산스 네오 - CDN으로 불러와 사용
-기본크기: 14px;
-기본두께: 400;
-line-height: 1.428571428571429;
-letter-spacing: 0.03em; */


/* 반응형 분기
-모바일 <= 576px;
-테블릿 >= 576px;
-데스트탑 >=768px; */


/* 색상
배경: #F0F0F3;
글씨색: #1F1F1F;

옅은회색-#C2C2C2;
중간회색-#919191;
진한회색-#525252;

옅은초록: #BFDBCF;
주황: #F3A14B;
빨강: #DC7646;
파랑: #1E90FF;
*/

/* Border
border-radius
-크면: 10px;
-작으면: 4px; */

/* 클래스명 지정
common
  -레이아웃(header, footer, main)
  -layout: [최상위 폴더명]-[레이아웃 태그명]
      예시) .note-header, .node-main, .note-footer
  -layout 내부: [최상위 폴더명]-[레이아웃 태그명]-[자식요소 태그명/데이터 성격]
      #제목: title
      #부제목: subtitle
      #설명: desc
        예시) .note-header-title, .note-header-nav, .note-footer-cite
      #ol, ul: [최상위 폴더명]-[레이아웃 태그명]-list
      #li: [최상위 폴더명]-[레이아웃 태그명]-list-items
        예시) .note-header-nav-list, .note-header-nav-list-items

  -대상: main 태그 내부
      #제목: main-title
             main-article-title
      #부제목: main-article-subtitle
      #설명: main-article-desc
      #나머지: mian-article-[태그명]



개별파일
  -대상: main 태그 내부
  -규칙
    #설명: [페이지 타이틀]-[article 주제]-desc
              예시) .meta-type-desc
    #예시: [페이지 타이틀]-[article 주제]-example
    #내용: [페이지 타이틀]-[article 주제]-content
    #가방같은 존재: [페이지 타이틀]-[article 주제]-container
    #img/input div: [페이지 타이틀]-[*]-img-group
    #나머지: [페이지 타이틀]-[*]-[태그명/데이터 성격] */
