/* Tablet Style
min-width >=576px  */
@media screen and (min-width:576px) {
  /* HTML-1-meta.html */
  /* animation */
  .data-image{
    width: 130px; /* 미티어쿼리 변경값*/
  }

  .box-image{
    width: 400px; /* 미티어쿼리 변경값*/
  }

  /* Article - Meta-Attribute */
  .meta-attribute li.main-article-list-items.type{
    margin-bottom: 0;  /* 미티어쿼리 변경값*/
  }


  /* HTML-3-inline-block.html */
  /* Article - Block-Element */
  .p-tag-image{
    width: 400px; /* 미티어쿼리 변경값*/
  }

  /* Article - Inline-Element */
  .inline-element-image-group{
    overflow-x: hidden;
  }


  /* HTML-6-article.html */
  /* Artcie - article */
  .article > picture > img{
    width: 100%;
    margin-bottom: 16px;
  }
}

/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* HTML-1-meta.html */
  /* Article - Meta-Attribute */
  .meta-attribute-type{
    margin-bottom: 48px; /* 미티어쿼리 변경값*/
  }


  /* HTML-6-article.html */
  /* Artcie - article */
  .article > picture > img{
    width: 480px;
    margin-bottom: 24px;
  }
}
