doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="dueto park")
    meta(name="Location", content="포도와 고구마의 고장")

    link(href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="../../css/style-common.css")
    link(rel="stylesheet", href="../../css/responsive/style-common.css")
    link(rel="stylesheet", href="../../css/animation/modal-animation.css")

    block head
    
  body 
    include ../partials/header
    
    block content

    block script