@font-face {
  font-family: 'MADE-Mirage-Medium';
  font-weight: 500;
  src: url('../../assets/font/MADE-Mirage-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'MADE-Mirage-Bold';
  font-weight: 700;
  src: url('../../assets/font/MADE-Mirage-Bold.otf') format('Opentype');
}
