/* Tablet Style
min-width >=576px  */
@media screen and (min-width:576px) {
  /* 1-Pseudo-Style.html */
  /* Article - pseudo-code */
  .pseudo-code pre{
    margin-bottom: 16px;
  }


  /* 2-Toggle.html */
  /* Article - toggle-css
     Article - toggle-javascript */
  .toggle-css p,
  .toggle-javascript p{
    margin-bottom: 16px;
  }


  /* 3-Copy.html */
  /* Common */
  .main-article-modal-group > .show-code-button{
    margin-bottom: 24px;
  }

  .modal-code > pre.main-article-pre.background-white-radius{
    width: 80%;
    overflow-x: hidden;
  }

  /* Article - How-To-Copy */
  .how-to-copy li.main-article-list-items.hyphen:hover::after{
    left: 20%;
    transform: translate(-50%, 100%);
  }

  /* Article - createElement
     Article - select*/
  .createElement > p,
  .select > p{
    margin-bottom: 16px;
  }


  /* 4-e.target.html */
  .e-target-image,
  .e-target-reason-image{
    width: 70%;
    height: auto;
  }

  /* Article - property
     Article - nextElementSibling
     Article - children
     Article - parentElement */
  .property p,
  .nextElementSibling p,
  .children p,
  .parentElement p{
    margin-bottom: 16px;
  }


  /* 5-switch.html */
  /* Article - switch-precautions */
  .switch-precautions > p,
  .switch-precautions > ul{
    margin-bottom: 16px;
  }

  .switch-precautions > ul{
    padding: 15px 20px;
  }


  /* 6-timing-event.html */
  /* Article - timing-event-syntax
     Article - setInterval
     Article - clearInterval */
  .timing-event-syntax > p,
  .setInterval > p,
  .clearInterval > p{
    margin-bottom: 16px;
  }


  /* 7-이차원배열.html */
  /* Article - multiple-array */
  .multiple-array p,
  .multiple-array pre{
    margin-bottom: 16px;
  }


  /* 8-foreach-중첩반복문.html */
  /* Article - forEach-syntax
     Article - loop-in-loop */
  .forEach-syntax p,
  .loop-in-loop p,
  .loop-in-loop pre{
    margin-bottom: 16px;
  }


  /* 9-array-fill.html */
  /* Article - array
     Article - fill */
  .array p,
  .array dl,
  .array pre,
  .fill p,
  .fill dl{
    margin-bottom: 16px;
  }


  /* 10-map.html */
  /* Article - map-syntax
     Article - map-example*/
  .map-syntax p,
  .map-example p,
  .map-example pre{
    margin-bottom: 16px;
  }


  /* 11-slice-sort.html */
  .slice-summary-image-group{
    flex-direction: row;
    margin-bottom: 16px;
  }

  .slice-summary-image{
    width: 50%;
  }

  #sort{
    padding-top: 100px;
  }


  /* 12-splice.html */
  /* Article - splice-syntax
     Article - splice-delete
     Article - splice-add
     Article - splice-delete */
  .splice-syntax p,
  .splice-delete-paragragh,
  .splice-add-paragragh,
  .splice-replace-paragragh{
    margin-bottom: 16px;
  }


  /* 13-split-join.html */
  /* Section - split
     Section - join*/
  #split,
  #join{
    padding-top: 100px;
  }

  .split-syntax-paragragh,
  .join-syntax-paragragh{
    margin-bottom: 16px;
  }


  /* 14-딕셔너리-자료구조.html */
  /* Article - dictionary */
  .dictionary p,
  .dictionary pre{
    margin-bottom: 16px;
  }


  /* 16-find.html */
  /* Article - find-syntax */
  .find-syntax-paragragh{
    margin-bottom: 16px;
  }


  /* 17-value-textcontent.html */
  /* common */
  .value-textContent-image{
    width: 300px;
  }
}


/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* 1-Pseudo-Style.html */
  /* Article - pseudo-code */
  .pseudo-code pre{
    margin-bottom: 24px;
  }


  /* 2-Toggle.html */
  /* Article - toggle-css
     Article - toggle-javascript */
  .toggle-css p,
  .toggle-javascript p{
    margin-bottom: 24px;
  }


  /* 3-Pseudo-Style.html */
  /* Common */
  .main-article-modal-group > .show-code-button{
    margin-bottom: 36px;
  }

  .modal-code > pre.main-article-pre.background-white-radius{
    width: 50%;
    overflow-x: hidden;
  }

  /* Article - How-To-Copy */
  .how-to-copy li.main-article-list-items.hyphen:hover::after{
    left: 15%;
    transform: translate(-50%, 100%);
  }

  /* Article - createElement
     Article - select*/
  .createElement > p,
  .select > p{
    margin-bottom: 24px;
  }


  /* 4-e.target.html */
  /* Article - property
     Article - nextElementSibling
     Article - children
     Article - parentElement */
  .property p,
  .nextElementSibling p,
  .children p,
  .parentElement p{
    margin-bottom: 16px;
  }


  /* 5-switch.html */
  /* Article - switch-precautions */
  .switch-precautions > p,
  .switch-precautions > ul{
    margin-bottom: 24px;
  }

  .switch-precautions > ul{
    padding: 20px 40px;;
  }



  /* 6-timing-event.html */
  /* Article - timing-event-syntax
     Article - setInterval
     Article - clearInterval */
  .timing-event-syntax > p,
  .setInterval > p,
  .clearInterval > p{
    margin-bottom: 24px;
  }


  /* 7-이차원배열.html */
  /* Article - multiple-array */
  .multiple-array p,
  .multiple-array pre{
    margin-bottom: 24px;
  }


  /* 8-foreach-중첩반복문.html */
  /* Article - forEach-syntax
     Article - loop-in-loop */
  .forEach-syntax p,
  .loop-in-loop p,
  .loop-in-loop pre{
    margin-bottom: 24px;
  }

  /* 9-array-fill.html */
  /* Article - array
     Article - fill */
  .array p,
  .array dl,
  .array pre,
  .fill p,
  .fill dl{
    margin-bottom: 24px;
  }


  /* 10-map.html */
  /* Article - map-syntax
     Article - map-example*/
  .map-syntax p,
  .map-example p,
  .map-example pre{
    margin-bottom: 24px;
  }


  /* 11-slice-sort.html */
  .slice-summary-image-group{
    margin-bottom: 24px;
  }

  #sort{
    padding-top: 120px;
  }

  /* 12-splice.html */
  /* Article - splice-syntax
     Article - splice-delete
     Article - splice-add
     Article - splice-delete */
  .splice-syntax p,
  .splice-delete-paragragh,
  .splice-add-paragragh,
  .splice-replace-paragragh{
    margin-bottom: 24px;
  }


  /* 13-split-join.html */
  /* Section - split
     Section - join*/
  #split,
  #join{
    padding-top: 120px;
  }

  .split-syntax-paragragh,
  .join-syntax-paragragh{
    margin-bottom: 24px;
  }


  /* 14-딕셔너리-자료구조.html */
  /* Article - dictionary */
  .dictionary p,
  .dictionary pre{
    margin-bottom: 24px;
  }


  /* 16-find.html */
  /* Article - find-syntax */
  .find-syntax-paragragh{
    margin-bottom: 24px;
  }
}
