
/* 3-Copy.html */
/* Common */
.main-article-modal-group > .show-code-button{
  margin-bottom: 16px;
}

.main-article-modal-group .modal-code{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: opacity-magic-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.modal-code > pre.main-article-pre.background-white-radius{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  overflow-x: scroll;
  animation-name: transformY-5px;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.clipboardData-desc .main-article-subtitle,
.navigator-desc .main-article-subtitle{
  overflow-wrap: break-word;
}

/* Article - How-To-Copy */
.how-to-copy li.main-article-list-items.hyphen{
  position: relative;
  top: 0;
  left: 0;
}

.how-to-copy li.main-article-list-items.hyphen::after{
  content: '';
  opacity: 0;
}

.how-to-copy li.main-article-list-items.hyphen:hover::after{
  content: '👇해당 영역으로 이동👇';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 100%);
  padding: 4px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #FFFFFF;
  opacity: 1;
  transition: opacity 250ms ease-in;
}


/* 4-e.target.html */
/* common */
.e-target-image,
.e-target-reason-image{
  width: 100%;
  height: auto;
}


/* 11-slice-sort.html */
.slice-summary-image-group{
  display: flex;
  flex-direction: column;
}

.slice-summary-image{
  width: 100%;
}

#sort{
  padding-top: 80px;
}


/* 13-split-join.html */
/* Section - split
   Section - join*/
#split,
#join{
  padding-top: 80px;
}


/* 18-value-textcontent.html */
/* common */
.value-textContent-image{
  width: 200px;
  height: auto;
  margin: 0 auto;
}


/* 25-화살표함수.html */
/* Article - arrow-function-feature */
.arrow-function-feature dd span{
  display: inline-block;
  margin-bottom: 8px;
}


/* 30-참조-복사.html */
/* Article - copy-reference */
.primitive-value-assignment{
  margin-bottom: 48px;
}

.list-item-title{
  font-weight: 500;
  margin-bottom: 4px;
}
