/* Tablet Style
min-width >=576px  */
@media screen and (min-width:576px) {
  /* 3-Copy.html */
  /* Common */
  .main-article-modal-group > .show-code-button{
    margin-bottom: 24px;
  }

  .modal-code > pre.main-article-pre.background-white-radius{
    width: 80%;
    overflow-x: hidden;
  }

  /* Article - How-To-Copy */
  .how-to-copy li.main-article-list-items.hyphen:hover::after{
    left: 20%;
    transform: translate(-50%, 100%);
  }


  /* 4-e.target.html */
  .e-target-image,
  .e-target-reason-image{
    width: 70%;
    height: auto;
  }


  /* 8-foreach-중첩반복문.html */
  /* Article - forEach-syntax
     Article - loop-in-loop */
  .forEach-syntax p,
  .loop-in-loop p,
  .loop-in-loop pre{
    margin-bottom: 16px;
  }


  /* 11-slice-sort.html */
  .slice-summary-image-group{
    flex-direction: row;
  }

  .slice-summary-image{
    width: 50%;
  }

  #sort{
    padding-top: 100px;
  }


  /* 13-split-join.html */
  /* Section - split
     Section - join*/
  #split,
  #join{
    padding-top: 100px;
  }


  /* 18-value-textcontent.html */
  /* common */
  .value-textContent-image{
    width: 300px;
  }
}


/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* 3-Pseudo-Style.html */
  /* Common */
  .main-article-modal-group > .show-code-button{
    margin-bottom: 36px;
  }

  .modal-code > pre.main-article-pre.background-white-radius{
    width: 50%;
    overflow-x: hidden;
  }

  /* Article - How-To-Copy */
  .how-to-copy li.main-article-list-items.hyphen:hover::after{
    left: 15%;
    transform: translate(-50%, 100%);
  }


  /* 11-slice-sort.html */
  #sort{
    padding-top: 120px;
  }


  /* 13-split-join.html */
  /* Section - split
     Section - join*/
  #split,
  #join{
    padding-top: 120px;
  }
}
