/* 1-Pseudo-Style.html */
/* Article - pseudo-code */
.pseudo-code pre{
  margin-bottom: 8px;
}

.pseudo-code pre:last-child{
  margin-bottom: 0 !important;
}


/* 2-Toggle.html */
/* Article - toggle-css
   Article - toggle-javascript */
.toggle-css p,
.toggle-javascript p{
  margin-bottom: 8px;
}


/* 3-Copy.html */
/* Common */
.main-article-modal-group > .show-code-button{
  margin-bottom: 16px;
}

.main-article-modal-group .modal-code{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: opacity-magic-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.modal-code > pre.main-article-pre.background-white-radius{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  overflow-x: scroll;
  animation-name: transformY-5px;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.clipboardData-desc .main-article-subtitle,
.navigator-desc .main-article-subtitle{
  overflow-wrap: break-word;
}

/* Article - How-To-Copy */
.how-to-copy li.main-article-list-items.hyphen{
  position: relative;
  top: 0;
  left: 0;
}

.how-to-copy li.main-article-list-items.hyphen::after{
  content: '';
  opacity: 0;
}

.how-to-copy li.main-article-list-items.hyphen:hover::after{
  content: '👇해당 영역으로 이동👇';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 100%);
  padding: 4px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #FFFFFF;
  opacity: 1;
  transition: opacity 250ms ease-in;
}


/* Article - createElement
   Article - select*/
.createElement > p,
.select > p{
  margin-bottom: 8px;
}


/* 4-e.target.html */
/* common */
.e-target-image,
.e-target-reason-image{
  width: 100%;
  height: auto;
}

/* Article - property
   Article - nextElementSibling
   Article - children
   Article - parentElement */
.property p,
.nextElementSibling p,
.children p,
.parentElement p{
  margin-bottom: 8px;
}


/* 5-switch.html */
/* Article - switch-precautions */
.switch-precautions > p,
.switch-precautions > ul{
  margin-bottom: 8px;
}

.switch-precautions > ul{
  padding: 10px 20px;
}

.switch-precautions > p:last-of-type{
  margin-bottom: 0 !important;
}


/* 6-timing-event.html */
/* Article - timing-event */
.timing-event .main-article-title,
.timing-event-syntax .main-article-subtitle{
  text-transform: capitalize;
}

/* Article - timing-event (common) */
.timing-event-syntax,
.no-timing-event,
.apply-timing-event,
.no-timing-event > p,
.no-timing-event .main-article-list{
  margin-bottom: 16px;
}

.open-modal-sample{
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  background-color: #FFF;
  cursor: pointer;
}

.open-modal-sample:hover,
.open-modal-sample:active,
.open-modal-sample:focus{
  border: 1px solid #CCCCCC;
}

/* Article - timing-event (timing-event-syntax) */
.timing-event-syntax .background-white-radius{
  padding: 10px 20px;
  margin-bottom: 8px;
}

.timing-event-syntax .background-white-radius:last-child{
  margin-bottom: 0;
}

/* Article - timing-event (modal-sample) */
.modal-sample{
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
}

.close-modal-sample{
  position: relative; top: 0;
  left: 100%;
  transform: translateX(-100%);
  display: block;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../assets/images/close.svg");
  background-repeat: no-repeat;
  background-size: 36px;
  cursor: pointer;
}

.modal-sample-title{
  padding-bottom: 24px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "MADE-Mirage-Medium", serif;
  border-bottom: 1px solid #727272;
  color: #CB0000;
}

.modal-sample-content > div{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 8px;
}

.modal-sample-subtitle,
.modal-sample-date{
  font-size: 10px;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: -0.05em;
}

.modal-sample-date{
  color: #727272;
}

.modal-sample-image{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.modal-sample-p{
  font-size: 20px;
  font-family: "MADE-Mirage-bold", serif;
}


/* 7-이차원배열.html */
/* Article - multiple-array */
.multiple-array p,
.multiple-array pre{
  margin-bottom: 8px;
}

.multiple-array p:last-child{
  margin-bottom: 0 !important;
}


/* 8-foreach-중첩반복문.html */
/* Article - forEach-syntax
   Article - loop-in-loop */
.forEach-syntax p,
.loop-in-loop p,
.loop-in-loop pre{
  margin-bottom: 8px;
}

.loop-in-loop p:last-child{
  margin-bottom: 0 !important;
}


/* 9-array-fill.html */
/* Article - array
   Article - fill */
.array p,
.array dl,
.array pre,
.fill p,
.fill dl{
  margin-bottom: 8px;
}

.array p:last-child{
  margin-bottom: 0 !important;
}


/* 10-map.html */
/* Article - map-syntax
   Article - map-example*/
.map-syntax p,
.map-example p,
.map-example pre{
  margin-bottom: 8px;
}

.map-example pre:last-child{
  margin-bottom: 0 !important;
}


/* 11-slice-sort.html */
.slice-summary-image-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.slice-summary-image{
  width: 100%;
}

#sort{
  padding-top: 80px;
}


/* 12-splice.html */
/* Article - splice-syntax
   Article - splice-delete
   Article - splice-add
   Article - splice-delete */
.splice-syntax p,
.splice-delete-paragragh,
.splice-add-paragragh,
.splice-replace-paragragh{
  margin-bottom: 8px;
}


/* 13-split-join.html */
/* Section - split
   Section - join*/
#split,
#join{
  padding-top: 80px;
}

.split-syntax-paragragh,
.join-syntax-paragragh{
  margin-bottom: 8px;
}


/* 14-딕셔너리-자료구조.html */
/* Article - dictionary */
.dictionary p,
.dictionary pre{
  margin-bottom: 8px;
}

.dictionary p:last-child{
  margin-bottom: 0 !important;
}


/* 16-find.html */
/* Article - find-syntax */
.find-syntax-paragragh{
  margin-bottom: 8px;
}
