@keyframes get-in {
  0%{
    top: 0;
    left: 0;
  }
  100%{
    top: 130px;
    left: 40%;
  }
}

@keyframes right-to-left {
  0%{
    right: 0;
  }
  80%{
    right: 40%;
  }
  100%{
    right: 40%;
  }
}

@keyframes big-small-big {
  0%{
    font-size: 70px;
  }
  80%{
    font-size: 30px;
  }
  100%{
    font-size: 30px;
  }
}


/* Opacity */
@keyframes opacity-magic-98 {
  0%{
    opacity: 0;
  }
  98%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacity-magic-85 {
  0%{
    opacity: 0;
  }
  85%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacity-magic-100 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes transformY-5px {
  0%{
    transform: translate(-50%, -55%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}


@keyframes rotate-45deg {
  0%{
    transform: rotate(0);
  }
  20%{
    transform: rotate(360deg) scale(1);
  }
  40%{
    transform: rotate(720deg) scale(2);
  }
  60%{
    transform: rotate(360deg) scale(3);
  }
  100%{
    transform: rotate(0) scale(1);
  }
}
