/* Tablet Style
min-width >=576px  */
@media screen and (min-width: 576px) {
  /* 2-management.html */
  #commit-management,
  #git-branch-management{
    padding-top: 100px;
  }

  .file-state-image,
  .git-reset-image{
    padding-top: 16px;
    margin-bottom: 16px;
  }

  /* Article - git-push-cancel */
  .git-push-cancel > p,
  .git-push-cancel > ul{
    margin-bottom: 16px;
  }

  /* Article - git-push-cancel */
  .git-push-cancel > ul{
    padding: 15px 20px;;
  }

  /* Article - git-push-cancel
     Article - branch-necessity
     Article - merge-branch */
  .git-push-cancel > p,
  .git-push-cancel > ul,
  .branch-necessity p,
  .merge-branch p{
    margin-bottom: 16px;
  }


  /* 3-error.html */
  /* Article - merge-conflict */
  .merge-rebase-diff-image{
    width: 300px;
    padding-top: 16px;
  }
}


/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* 2-management.html */
  #commit-management,
  #git-branch-management{
    padding-top: 120px;
  }

  .file-state-image,
  .git-reset-image{
    padding-top: 24px;
    margin-bottom: 24px;
  }

  /* Article - git-push-cancel */
  .git-push-cancel > ul{
    padding: 20px 40px;;
  }

  /* Article - git-push-cancel
     Article - branch-necessity
     Article - merge-branch */
  .git-push-cancel > p,
  .git-push-cancel > ul,
  .branch-necessity p,
  .merge-branch p{
    margin-bottom: 24px;
  }


  /* 3-error.html */
  /* Article - merge-conflict */
  .merge-rebase-diff-image{
    padding-top: 24px;
  }
}
