%margin-8-div {
  > div {
    > * {
      @include margin(8);
    }
  }
}

%image-size {
  img {
    width: 100%;

    @include responsive(T) {
      width: 300px;
    }

    @include responsive(T) {
      width: 400px;
    }
  }
}

.background-clip-type {
  ul {
    .main-item {
      @extend %margin-8-div;
      @extend %image-size;
    }
  }
}

// NOTE: 04-line-break
.white-space-summary {
  table {
    td {
      text-align: center;
    }
  }
}

// NOTE: 06-width
.calc {
  .width-calc-image-group {
    @extend %image-size;
    @include column-flexbox;
  }
}

// NOTE: 08-transform-origin
.transform-origin-example {
  ol {
    .main-item {
      @extend %image-size;

      .btn-fill {
        margin-bottom: 4px;
      }

      img {
        @include animation(rotate-45deg, 'long');

        &.is-top-right {
          transform-origin: top right;
        }

        &.is-bottom-left {
          transform-origin: bottom left;
        }
      }
    }
  }
}

// NOTE: 13-input-styling
.input-style {
  &-example {
    .btn-fill {
      width: 340px;
      padding: 0 12px;
      margin-bottom: 12px;
      transition: $transition-border;

      &:hover {
        border: 1px solid $blue;
      }

      &:active,
      &:focus {
        border: 1px solid $blue;
        box-shadow: 0 0 0 4px $blue-light;
      }
    }
  }
}

// NOTE: 15-flex-grow-flex-shrink
.flex-grow {
  @extend %image-size;
}

// NOTE: 17-perspective
.perspective-example {
  &-flip {
    .cards {
      .card-perspective {
        margin-bottom: 0;
      }
    }
  }
}
