.note-main {
  @include text-style(14, $primary);
  padding: 48px 0;

  article,
  section {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      > * {
        @include margin(8);
      }
    }
  }

  @include responsive(M) {
    padding: 64px 0;

    article,
    section {
      margin-bottom: 64px;
    }
  }

  @include responsive(T) {
    padding: 88px 0;

    article,
    section {
      margin-bottom: 88px;
    }
  }
}
