/* 2-management.html */
#commit-management,
#git-branch-management {
  padding-top: 80px;
}

.file-state-image,
.git-reset-image {
  width: 100%;
  height: auto;
  padding-top: 8px;
  margin-bottom: 8px;
}

/* Article - git-push-cancel */
.git-push-cancel > ul {
  padding: 10px 20px;
}

/* Article - git-push-cancel
   Article - branch-necessity
   Article - merge-branch */
.git-push-cancel > p,
.git-push-cancel > ul,
.branch-necessity p,
.merge-branch p {
  margin-bottom: 8px;
}

/* 3-error.html */
/* Article - merge-conflict */
.merge-rebase-diff-image {
  width: 100%;
  height: auto;
  padding-top: 8px;
}

/* 5-gitignore.html */
/* Section - gitignore */
.build-gitignore li > p {
  padding-left: 16px;
}

/* 6-merge-error.html */
/* Section - merge-cancel */
dt.main-article-dt.background-white-radius {
  width: 100%;
}

/* 7-return-commit.html */
/* Section - git-reset */
.git-reset-usage .desc {
  padding-left: 16px;
}
