/* 1-gulp.html */
/* Section - gulp */
.gulp {
  display: flex;
  flex-direction: column;
}

.gulp .desc {
  order: 2;
}

.gulp .desc > p {
  margin-bottom: 8px;
}

.gulp-image {
  order: 1;
  width: 300px;
  margin-bottom: 8px;
}

/* Section - gulp-install */
.gulp-install-step dt.main-article-dt.background-white-radius {
  width: 100%;
}

.gulp-install-step .touch p.error {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

/* Section - gulp-package */
#gulp-package-usage {
  padding-left: 16px;
}

#gulp-package-usage > li::before {
  content: "-";
  margin-right: 8px;
}

/* 3-npm.html */
/* Section - npm.command */
.npm-install-option {
  padding-left: 16px;
}

.npm-command .background-white-radius {
  width: 100%;
}
