@keyframes modal-open {
  0% {
    opacity: 0.1;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0.1;
    transform: translateX(100%);
  }
}

@keyframes rotate-45deg {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(360deg) scale(1);
  }

  40% {
    transform: rotate(720deg) scale(2);
  }

  60% {
    transform: rotate(360deg) scale(3);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes to-the-right {
  0% {
    left: 0;
  }

  100% {
    left: 40%;
  }
}

@keyframes to-the-left {
  0% {
    right: 0;
  }

  100% {
    right: 50%;
  }
}

@keyframes big-small-big {
  0% {
    font-size: 70px;
  }

  80% {
    font-size: 30px;
  }

  100% {
    font-size: 30px;
  }
}

@mixin animation(
  $name,
  $duration: 200ms,
  $timing-fuction: ease-in-out,
  $delay: 0
) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-timing-function: $timing-fuction;
}
