%margin-base {
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin margin-8() {
  @extend %margin-base;
  margin-bottom: 8px;

  @include responsive(T) {
    margin-bottom: 16px;
  }
}

@mixin margin-16() {
  @extend %margin-base;
  margin-bottom: 16px;

  @include responsive(T) {
    margin-bottom: 24px;
  }
}

@mixin margin-24() {
  @extend %margin-base;
  margin-bottom: 24px;

  @include responsive(T) {
    margin-bottom: 48px;
  }
}

@mixin margin($size) {
  @if ($size == 8) {
    @include margin-8;
  }

  @if ($size == 16) {
    @include margin-16;
  }

  @if ($size == 24) {
    @include margin-24;
  }
}
