@mixin pos-center-X($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin pos-center-Y($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin pos-center($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin pos-left($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 0;
    left: 0;
  }
}

@mixin pos-right($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 0;
    right: 0;
  }
}
