@mixin scrollbar($color-track, $color-thumb, $color-hover, $color-active) {
  &::-webkit-scrollbar {
    width: 5.2px;
  } /* 스크롤 바 */

  &::-webkit-scrollbar-track {
    background-color: $color-track;
  } /* 스크롤 바 밑의 배경 */

  &::-webkit-scrollbar-thumb {
    background-color: $color-thumb;
    border-radius: 10px;
  } /* 실질적 스크롤 바 */

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-hover;
  } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

  &::-webkit-scrollbar-thumb:active {
    background-color: $color-active;
  } /* 실질적 스크롤 바를 클릭할 때 */

  &::-webkit-scrollbar-button {
    display: none;
  } /* 스크롤 바 상 하단 버튼 */
}
