$black: #000;
$primary: #1f1f1f;
$border: #c2c2c2;
$background: #f0f0f3;
$white: #fff;

$gray-dark: #525252;
$gray: #919191;
$gray-light: #ddd;
$gray-blue: #ced0da;

$blue: #1e90ff;
$blue-light: #609ae9;

$green: #bfdbcf;
$red: #ea4c51;
$orange: #f3a14b;
$yellow: #ffbb00;
