/* HTML-1-meta.html */
/* Article - Meta-Definition */
.meta-definition > dl > div:first-of-type{
  margin-bottom: 18px;
}

/* animation */
.meta-definition-animation{
  position: relative;
  overflow: hidden;
}

.data-image-group{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: get-in;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.data-image{
  width: 100px; /* 미티어쿼리 변경값*/
  height: auto;
}

.text-meta{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.box-image-group{
  position: relative;
  top: 0;
  left: 0;
}

.box-image{
  width: 300px; /* 미티어쿼리 변경값*/
  height: auto;
  margin: 0 auto;
}

.text-head{
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFFFFF;
}

/* Article - Meta-Attribute */
.meta-attribute-type{
  margin-bottom: 30px;
}

.name-types{
  display: flex;
  flex-wrap: wrap;
}

.meta-attribute li.main-article-list-items.type{
  margin-bottom: 8px;  /* 미티어쿼리 변경값*/
  margin-right: 8px;
}

.meta-attribute li.main-article-list-items.type:last-child{
  margin-right: 0;
}


/* HTML-2-pre.html */


/* HTML-3-inline-block.html */
.block-element-type,
.inline-element-type{
  display: flex;
  flex-wrap: wrap;
}

.block-element li.main-article-list-items.type,
.inline-element li.main-article-list-items.type{
  margin-bottom: 8px;
  margin-right: 8px;
}

.block-element li.main-article-list-items.type:last-child,
.inline-element li.main-article-list-items.type:last-child{
  margin-right: 0;
}

/* Article - Block-Element */
.block-element > p{
  margin-bottom: 8px; /* 미티어쿼리 변경값*/
}

/* animation */
.block-element-animation,
.p-tag-image-group{
  position: relative;
  top: 0;
  left: 0;
}

.p-tag-image-group::before,
.p-tag-image-group::after,
.block-element-group::before,
.block-element-group::after{
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #FFFFFF;
  white-space: nowrap;
}

.p-tag-image-group::before{
  content: '<p>태그';
  z-index: 1;
  left: 30%;
  bottom: 4px;
}

.p-tag-image-group::after{
  content: '<p>태그는 block 요소 싫어요!';
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 100%);
  color: #DC7646;
  animation-name: opacity-magic-85;
  animation-duration: 4000ms;
  animation-timing-function: ease-in;
}

.p-tag-image{
  width: 300px; /* 미티어쿼리 변경값*/
  height: auto;
  margin: 0 auto;
}

.block-element-group{
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  animation-name: right-to-left;
  animation-delay: 1000ms;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  animation-iteration-count: 2;
}

.block-element-group::before{
  content: '블록요소';
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.block-element-group::after{
  content: '네ㅠㅠ';
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #DC7646;
  animation-name: opacity-magic-98;
  animation-duration: 4000ms;
  animation-timing-function: ease-in;
}

.block-element{
  font-size: 70px;
  animation-name: big-small-big;
  animation-delay: 1000ms;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  animation-iteration-count: 2;
}


/* Article - Inline-Element */
.inline-element p{
  margin-bottom: 8px; /* 미티어쿼리 변경값*/
}

.inline-element > p{
  margin-bottom: 16px; /* 미티어쿼리 변경값*/
}

.inline-element-image-group{
  overflow-x: scroll;
  margin-bottom: 8px;
}



/* HTML-4-Picture.html */
/* Common */
.picture > p,
.picture > dl,
.picture-syntax > p,
.picture-operating-principle > p,
.picture-example > pre {
  margin-bottom: 16px;
}

/* Article - Picture-Syntax */
.picture-syntax ul{
  padding: 10px 20px;
}

/* Article - Picture-Operating-Principle */
.picture-operating-principle > p:last-child{
  margin-bottom: 0;
}

/* Article - Picture-Example */
.picture-image{
  width: 100%;
  border-radius: 4px;
}



/* HTML-5-list-child-element.html */
.main-title > strong > span{
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.list-child-element > p,
.list-child-element > ul{
  margin-bottom: 8px;
}

.list-child-element > p:last-child{
  margin-bottom: 0;
}

.list-child-element > ul{
  padding: 10px 20px;
}
