/* 1-no-response.html */
/* Article - no-response-reason
   Article - no-response-solution */
.no-response-reason > p,
.no-response-reason > ol,
.no-response-solution > p,
.no-response-solution > ol{
  margin-bottom: 8px;
}

.no-response-reason > ol,
.no-response-solution > ol{
  padding: 10px 20px;
}

.no-response-reason > p:last-of-type,
.no-response-solution > p:last-of-type{
  margin-bottom: 0 !important;
}
