$border-radius: 4px;

%block-box {
  @include inline-flexbox;
  padding: 0 4px;
  color: $primary !important;
  border-radius: $border-radius;
}

.types {
  > * {
    @extend %block-box;
    background: $green;
  }
}

.highlight {
  @extend %block-box;
  background-color: $yellow;
}

.highlight-red {
  @extend %block-box;
  background-color: $white;
  border: 2px solid $red;
}

.highlight-blue {
  @extend %block-box;
  background-color: $white;
  border: 2px solid $blue;
}

.box-white {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: $primary !important;
  background-color: $white;
  border-radius: $border-radius * 2;

  @include responsive(T) {
    padding: 15px 20px;
  }

  @include responsive(D) {
    padding: 20px 40px;
  }
}

.underline {
  text-decoration: underline;
}

.error {
  color: $red;
}
