.main-image {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  @include responsive(M) {
    width: 300px;
  }

  @include responsive(T) {
    width: 400px;
  }
}
