$margin-dt: 4px;

%definition-list-base {
  dt {
    @include margin(8);
    display: inline-block;
    font-weight: 500;
  }

  dd {
    padding-left: 16px;

    &::before {
      margin-right: 4px;
      content: '-' / '';
    }
  }
}

.main-dfn {
  @extend %definition-list-base;
}

.main-dl {
  @extend %definition-list-base;

  > div {
    @include margin(16);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-item {
  @include margin(8);

  &:last-child {
    margin-bottom: 0;
  }
}

.list-title {
  margin-bottom: 4px;
  font-weight: 500;

  @include responsive(M) {
    margin-bottom: 8px;
  }
}
