.main-code {
  position: relative;
  top: 0;
  left: 0;
  background-color: $white;

  &::before {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    content: '✂️코드복사 원하면 클릭!✂️' / '';
    opacity: 0;
    transition: $transition-opacity;
  }

  &:hover {
    &::before {
      opacity: 0.7;
    }
  }

  code {
    width: 100%;
    font-size: 13px;
    white-space: pre-wrap;
  }
}
