.mode-day {
  color: $primary;
  background-color: $background;
  transition: $transition-bg-color, $transition-color;
}

.mode-night {
  color: $white;
  background-color: $gray-dark;

  .note-header {
    button {
      color: $white;
    }

    .toggle {
      .toggle-button {
        background-color: $white;

        &::after {
          transform: translate(0, -50%);
        }
      }
    }

    .menu {
      .nav {
        .nav-title,
        a {
          color: $primary;
        }
      }
    }
  }

  @include responsive(M) {
    .toggle {
      .toggle-button {
        &::after {
          transform: translate(6px, -50%);
        }
      }
    }
  }
}
